body {
    position: relative;
    font-size: 16px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: rgba(45, 126, 132, 1);
    background-color: rgba(231, 225, 205, 1);
}

@media (max-width: 480px) {
    .submitForm, .videosList{
        max-width: 27rem;
    }

    form{
        max-width: 20rem;
    }
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

.mainContent{
    max-width: 60rem;
    padding: 0.8rem;
    margin: 0 auto;
}

.submitForm, .videosList{
    max-width: 55rem;
    margin: 0 auto;
}

.submitForm h4{
    text-align: center;
    margin: 1rem;
}

form div{
    margin-bottom: 1rem;
}

form{
    border-bottom: 0.06rem solid rgba(0,0,0,1);
}

form, ol, .videosListHeader{
    margin: 0 auto;
    max-width: 30rem;
    padding: 1rem 1rem;
}

form input{
    width: 25rem;
    height: 2rem;
    display: block;
}

.error{
    color: rgba(255, 0, 0, 1);
}

button{
    height: 2rem;
}

button:hover{
    box-shadow: 0.3rem 0.3rem 1rem rgba(142, 85, 47, 1);
}

.competitionVideo{
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}

.votes, img, .videoDescription, .videoInfo, .sorting, .videosList h4{
    display: inline-block;
}

.votes, .coverImage, .videoDescription{
    vertical-align: top;
}

.votes{
    width: 2.3rem;
    text-align: center;
    padding-top: 0.2rem;
    box-sizing: border-box;
}

.videosList h4{
    margin: 0 3rem;
}

.votes img{
    height: 2.3rem;
    margin-bottom: 0.1rem;
}

.votes img:hover{
    height: 2.4rem;
}

.votes p:last-child, .videoInfo{
    font-size: 0.6rem;
}

.videoInfo{
    vertical-align: bottom;
}

.coverImage{
    margin: 0 0.3rem;
    box-sizing: border-box;
}

.videoDescription{
    width: 18rem;
    padding-left: 1rem;
}

.videoDescription a{
    display: block;
    height: 3.5rem;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    font-weight: bold;
}

.videoDescription a:hover{
    overflow: visible;
    width: 26rem;
    white-space: normal;
    text-shadow: 0.08rem 0.08rem 0.08rem rgba(255, 255, 255, 1);
}
